@font-face {
  font-family: "kaushan";
  src: url("../assets/fonts/KaushanScript-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "montserrat bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "roboto italic light";
  src: url("../assets/fonts/Roboto-LightItalic.ttf");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  width: 100vw;
  height: 300vh;
  overflow-x: hidden;
}

.container {
  height: 100%;
  width: 1200px;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 720px) {
  .container {
    width: 100%;
  }
}

.title {
  position: relative;
  height: 230px;
  width: 100%;
}

.title__top {
  position: relative;
  font-family: 'kaushan';
  font-size: 24px;
  top: 27px;
  color: #333333;
}

.title__middle {
  position: relative;
  font-family: 'montserrat bold';
  font-size: 30px;
  text-transform: uppercase;
  top: 35px;
  color: #333333;
}

.title__line {
  position: relative;
  top: 70px;
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), url("../assets/images/header.jpg");
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url("../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__center {
  height: 92.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__creative {
  font-family: 'kaushan';
  font-size: 72px;
  position: relative;
  top: 140px;
}

@media (max-width: 1200px) {
  .header__creative {
    font-size: 58px;
  }
}

@media (max-width: 970px) {
  .header__creative {
    font-size: 44px;
  }
}

@media (max-width: 720px) {
  .header__creative {
    font-size: 44px;
  }
}

@media (max-width: 600px) {
  .header__creative {
    font-size: 26px;
    font-weight: normal;
  }
}

@media (orientation: landscape) and (max-width: 824px) {
  .header__creative {
    top: 30%;
    font-size: 16px;
    font-weight: normal;
  }
}

.header__welcome {
  font-family: 'montserrat bold';
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  position: relative;
  top: 165px;
}

@media (max-width: 1200px) {
  .header__welcome {
    font-size: 120px;
  }
}

@media (max-width: 970px) {
  .header__welcome {
    font-size: 90px;
    line-height: 100px;
    top: 205px;
  }
}

@media (max-width: 600px) {
  .header__welcome {
    top: 145px;
    font-size: 56px;
    line-height: 60px;
  }
}

@media (orientation: landscape) and (max-width: 824px) {
  .header__welcome {
    top: 35%;
    font-size: 30px;
    line-height: 40px;
  }
}

.header__line {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 60px;
  position: relative;
  top: 220px;
}

@media (max-width: 1024px) {
  .header__line {
    top: 200px;
    width: 40px;
  }
}

@media (max-width: 970px) {
  .header__line {
    top: 250px;
  }
}

@media (max-width: 600px) {
  .header__line {
    top: 200px;
  }
}

@media (orientation: landscape) and (max-width: 824px) {
  .header__line {
    top: 40%;
  }
}

.header__button {
  width: 160px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-family: 'montserrat bold';
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  border: 3px solid #fff;
  position: relative;
  top: 270px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__button {
    top: 260px;
    width: 120px;
    height: 30px;
    font-size: 11px;
  }
}

@media (max-width: 970px) {
  .header__button {
    top: 300px;
  }
}

@media (max-width: 600px) {
  .header__button {
    top: 260px;
  }
}

@media (orientation: landscape) and (max-width: 824px) {
  .header__button {
    top: 50%;
  }
}

.nav {
  height: 7.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f38181;
  position: fixed;
  left: 0;
  padding: 0 18%;
  z-index: 1;
}

@media (max-width: 1200px) {
  .nav {
    width: 100%;
    left: 0;
    padding: 0 10%;
  }
}

@media (max-width: 1024px) {
  .nav {
    padding: 0;
  }
}

@media (orientation: landscape) and (max-width: 824px) {
  .nav {
    padding: 4%;
  }
}

.nav__logo {
  font-family: 'montserrat bold';
  font-size: 30px;
  margin-top: 8px;
}

@media (max-width: 1200px) {
  .nav__logo {
    padding: 0 5%;
  }
}

.nav__list {
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

@media (max-width: 1024px) {
  .nav__list {
    background-color: #f38181;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 4.9vh;
    width: 80%;
    height: 80vh;
    left: -1000px;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
  }
}

@media (max-width: 600px) {
  .nav__list {
    top: 3vh;
  }
}

.nav__item--link {
  font-family: 'montserrat';
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.nav__item--link::after {
  content: '';
  background-color: #fce38a;
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  margin: 2px 0;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 1024px) {
  .nav__item--link::after {
    margin: 15px 0 0;
  }
}

.nav__item--link:hover {
  color: #fce38a;
}

.nav__item--link:hover::after {
  opacity: 1;
}

.nav__hamburger {
  display: none;
}

.nav__hamburger--top, .nav__hamburger--middle, .nav__hamburger--bottom {
  display: block;
  width: 35px;
  height: 3px;
  margin: 10px;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1200px) {
  .nav__hamburger {
    padding: 0 5%;
  }
}

@media (max-width: 1024px) {
  .nav__hamburger {
    display: block;
  }
}

.nav__hamburger:hover {
  cursor: pointer;
}

.nav__toggle {
  display: none;
}

@media (max-width: 1024px) {
  .nav__toggle:checked ~ .nav__list {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 4.9vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f38181;
    width: 100%;
    padding: 5%;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
}

@media (max-width: 1024px) and (max-width: 600px) {
  .nav__toggle:checked ~ .nav__list {
    top: 3vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) and (max-width: 824px) {
  .nav__toggle:checked ~ .nav__list {
    padding: 0px;
  }
}

.nav__toggle:checked ~ .nav__list .nav__item {
  line-height: 20px;
}

@media (orientation: landscape) and (max-width: 824px) {
  .nav__toggle:checked ~ .nav__list .nav__item {
    line-height: 15px;
  }
}

.nav__toggle:checked ~ .nav__list .nav__item--link {
  font-size: 18px;
}

.nav__toggle:checked ~ .nav__list .nav__item--link::after {
  top: -15px;
}

.nav__toggle:checked + label .nav__hamburger--top {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

.nav__toggle:checked + label .nav__hamburger--middle {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

.nav__toggle:checked + label .nav__hamburger--bottom {
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
}

.progress {
  font-family: 'montserrat';
  height: 7.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 720px) {
  .progress {
    padding: 0 5%;
  }
}

.progress__bar {
  background-color: #fff;
  position: relative;
  height: 3px;
  width: 280px;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .progress__bar {
    width: 15vw;
  }
}

.progress__info {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress__number {
  font-family: 'montserrat bold';
  font-size: 18px;
  padding-right: 10px;
}

@media (max-width: 600px) {
  .progress__number {
    display: none;
  }
}

.progress__text {
  font-family: 'montserrat';
  font-size: 13px;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__top--short {
  position: relative;
  font-family: 'kaushan';
  font-size: 24px;
  top: 9px;
  color: #333333;
}

.title__middle--short {
  position: relative;
  font-family: 'montserrat bold';
  font-size: 30px;
  text-transform: uppercase;
  top: 17px;
  color: #333333;
}

.title__line--short {
  position: relative;
  top: 51px;
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__center {
  height: 540px;
}

.about__info {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 110px;
}

.about__text {
  font-family: 'roboto';
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.about__gallery {
  height: 250px;
  margin: 100px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__image {
  position: relative;
  background-color: #95e1d3;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.about__image::after {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  opacity: 0;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.about__image:hover img {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.about__image:hover .about__span-icon {
  z-index: 1;
  opacity: 1;
}

.about__image:hover .about__span-text {
  z-index: 1;
  opacity: 1;
}

.about__image:hover::after {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  opacity: 1;
}

.about__span-icon {
  position: absolute;
  opacity: 0;
  color: white;
  background-image: url("../assets/images/about/users.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 10%;
  width: 10%;
  inset: 50% 0 0 50%;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.about__span-text {
  position: absolute;
  color: white;
  font-family: 'montserrat bold';
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.about__footer {
  background-color: #95e1d3;
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__stats {
  position: relative;
  width: 240px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-right: 1px solid #d8d8d8;
}

.about__stats--one {
  border-left: 1px solid #d8d8d8;
}

.about__number {
  font-family: 'montserrat bold';
  font-size: 72px;
  position: absolute;
  top: 57px;
}

.about__what-of {
  font-family: 'montserrat';
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: 90px;
}
