@font-face {
  font-family: "kaushan";
  src: url("../assets/fonts/KaushanScript-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "montserrat bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "roboto italic light";
  src: url("../assets/fonts/Roboto-LightItalic.ttf");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  width: 100vw;
}

.container {
  height: 100%;
  width: 1200px;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 720px) {
  .container {
    width: 100%;
  }
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), url("../assets/images/header.jpg");
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url("../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__center {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__creative {
  font-family: 'kaushan';
  font-size: 72px;
  position: relative;
  top: 140px;
}

@media (max-width: 1200px) {
  .header__creative {
    font-size: 58px;
  }
}

@media (max-width: 970px) {
  .header__creative {
    font-size: 44px;
  }
}

@media (max-width: 720px) {
  .header__creative {
    font-size: 44px;
  }
}

@media (max-width: 600px) {
  .header__creative {
    font-size: 26px;
    font-weight: normal;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  .header__creative {
    top: 40px;
    font-size: 16px;
    font-weight: normal;
  }
}

.header__welcome {
  font-family: 'montserrat bold';
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  position: relative;
  top: 165px;
}

@media (max-width: 1200px) {
  .header__welcome {
    font-size: 120px;
  }
}

@media (max-width: 970px) {
  .header__welcome {
    font-size: 90px;
    line-height: 100px;
    top: 205px;
  }
}

@media (max-width: 600px) {
  .header__welcome {
    top: 145px;
    font-size: 56px;
    line-height: 60px;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  .header__welcome {
    top: 40px;
    font-size: 30px;
    line-height: 40px;
  }
}

.header__line {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 60px;
  position: relative;
  top: 220px;
}

@media (max-width: 1024px) {
  .header__line {
    top: 200px;
    width: 40px;
  }
}

@media (max-width: 970px) {
  .header__line {
    top: 250px;
  }
}

@media (max-width: 600px) {
  .header__line {
    top: 200px;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  .header__line {
    top: 50px;
  }
}

.header__button {
  width: 160px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-family: 'montserrat bold';
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  border: 3px solid #fff;
  position: relative;
  top: 270px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__button {
    top: 260px;
    width: 120px;
    height: 30px;
    font-size: 11px;
  }
}

@media (max-width: 970px) {
  .header__button {
    top: 300px;
  }
}

@media (max-width: 600px) {
  .header__button {
    top: 260px;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  .header__button {
    top: 70px;
  }
}

.nav {
  height: 7.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  font-family: 'montserrat bold';
  font-size: 30px;
  margin-top: 8px;
}

@media (max-width: 720px) {
  .nav__logo {
    padding: 0 5%;
  }
}

.nav__list {
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1024px) {
  .nav__list {
    -webkit-transform-origin: left;
            transform-origin: left;
    position: absolute;
    left: -50%;
    top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.nav__item--link {
  font-family: 'montserrat';
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav__item--link::after {
  content: '';
  background-color: #fce38a;
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  margin: 2px 0;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav__item--link:hover {
  color: #fce38a;
}

.nav__item--link:hover::after {
  opacity: 1;
}

.nav__hamburger {
  display: none;
  font-size: 30px;
}

@media (max-width: 1024px) {
  .nav__hamburger {
    display: block;
  }
}

@media (max-width: 720px) {
  .nav__hamburger {
    padding: 0 5%;
  }
}

.nav__hamburger:hover {
  cursor: pointer;
}

.nav__toggle {
  display: none;
}

.nav__toggle:checked ~ .nav__list {
  z-index: 1;
  position: absolute;
  background-color: #f38181;
  width: 80%;
  left: 0;
}

@media (max-width: 1024px) {
  .nav__toggle:checked ~ .nav__list {
    width: 100%;
  }
}

.nav__toggle:checked ~ .nav__list .nav__item {
  line-height: 30px;
}

.progress {
  font-family: 'montserrat';
  height: 7.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 720px) {
  .progress {
    padding: 0 5%;
  }
}

.progress__bar {
  background-color: #fff;
  position: relative;
  height: 3px;
  width: 280px;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .progress__bar {
    width: 15vw;
  }
}

.progress__info {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress__number {
  font-family: 'montserrat bold';
  font-size: 18px;
  padding-right: 10px;
}

.progress__text {
  font-family: 'montserrat';
  font-size: 13px;
}
