@font-face {
  font-family: "kaushan";
  src: url("../assets/fonts/KaushanScript-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "montserrat bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "roboto italic light";
  src: url("../assets/fonts/Roboto-LightItalic.ttf");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  width: 100vw;
  height: 300vh;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  position: relative;
  height: 230px;
  width: 100%;
}

.title__top {
  position: relative;
  font-family: 'kaushan';
  font-size: 24px;
  top: 27px;
  color: #333333;
}

.title__middle {
  position: relative;
  font-family: 'montserrat bold';
  font-size: 30px;
  text-transform: uppercase;
  top: 35px;
  color: #333333;
}

.title__line {
  position: relative;
  top: 70px;
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
}

.home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), url("../assets/images/header.jpg");
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url("../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1000px;
  width: 100%;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.nav__logo {
  font-family: 'montserrat bold';
  font-size: 30px;
  color: white;
}

.nav__logo:hover {
  cursor: pointer;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding-top: 15px;
}

@media (max-width: 1200px) {
  .nav__list {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.nav__link {
  font-family: 'montserrat';
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.nav__link::after {
  content: '';
  background-color: #fce38a;
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  margin: 2px 0;
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover::after {
  opacity: 1;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center__text {
  color: white;
}

.center__text--small {
  font-family: 'kaushan';
  font-weight: normal;
  font-size: 72px;
  margin: 115px auto 31px;
}

@media (max-width: 1200px) {
  .center__text--small {
    font-size: 56px;
  }
}

.center__text--big {
  font-family: 'montserrat bold';
  font-size: 150px;
  line-height: 30%;
  text-transform: uppercase;
  text-align: center;
  padding: 45px 10%;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .center__text--big {
    font-size: 120px;
  }
}

.center__line {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 60px;
  margin: 52px auto 0;
}

.center__button {
  width: 160px;
  height: 40px;
  background: none;
  border: 3px solid #fff;
  font-family: 'montserrat bold';
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin: 50px auto;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.progress__wrapper {
  margin: 0 auto;
}

.progress__bar {
  background-color: #fff;
  height: 3px;
  width: 280px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .progress__bar {
    width: 220px;
  }
}

.progress__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.progress__number {
  font-family: 'montserrat bold';
  font-size: 18px;
  padding-right: 10px;
}

.progress__section {
  font-family: 'montserrat';
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 4px;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__top--short {
  position: relative;
  font-family: 'kaushan';
  font-size: 24px;
  top: 9px;
  color: #333333;
}

.title__middle--short {
  position: relative;
  font-family: 'montserrat bold';
  font-size: 30px;
  text-transform: uppercase;
  top: 17px;
  color: #333333;
}

.title__line--short {
  position: relative;
  top: 51px;
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__info {
  min-height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10%;
}

.about__text {
  font-family: 'roboto';
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.about__gallery {
  min-height: 250px;
  margin: 100px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .about__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 380px;
    padding: 5% auto;
  }
}

.about__image {
  position: relative;
  background-color: #95e1d3;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  cursor: pointer;
}

.about__image::after {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.about__image img {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.about__image:hover img {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.about__image:hover .about__span-icon {
  z-index: 1;
  opacity: 1;
}

.about__image:hover .about__span-text {
  z-index: 1;
  opacity: 1;
}

.about__image:hover::after {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  opacity: 1;
}

.about__span-icon {
  position: absolute;
  opacity: 0;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 10%;
  width: 10%;
  inset: 50% 0 0 50%;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.about__span-icon--one {
  background-image: url("../assets/images/about/users.png");
}

.about__span-text {
  position: absolute;
  color: white;
  font-family: 'montserrat bold';
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.about__footer {
  background-color: #95e1d3;
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__stats {
  position: relative;
  width: 240px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-right: 1px solid #d8d8d8;
}

.about__stats--one {
  border-left: 1px solid #d8d8d8;
}

.about__number {
  font-family: 'montserrat bold';
  font-size: 72px;
  position: absolute;
  top: 57px;
}

.about__what-of {
  font-family: 'montserrat';
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: 90px;
}
