@font-face {
    font-family: "kaushan";
    src: url('../assets/fonts/KaushanScript-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "montserrat";
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "montserrat bold";
    src: url('../assets/fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "roboto";
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "roboto italic light";
    src: url('../assets/fonts/Roboto-LightItalic.ttf');
    font-weight: lighter;
}