* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body {
    background-color: #fff; 
    font-family: sans-serif;
    width: 100vw;
}
.container {
    height: 100%;
    width: 1200px;
    @include desktop {
        width: 80%;
    }
    @include tablet{
        width: 100%;
    }
}
