$basicWhite:rgb(255,255,255);
$basicRed:rgb(243,129,129);
$basicYellow:rgb(252,227,138);
$basicGreen:rgb(234,255,208);
$basicBlue:rgb(149,225,211);
$textDark:rgb(51,51,51);
$textLight:rgb(153,153,153);
$outline:rgb(229,229,229);
$bgLight: rgb(248,248,248);
$logoGray: rgb(204,204,204);