.title{
    width: 100%;
    &__top{
        display: block;
        font-family: 'kaushan';
        font-size: 24px;
        text-align: center;
        color: rgb(51,51,51);
        margin: 4.50% auto 0;
    }
    &__middle{
        display: block;
        font-family: 'montserrat bold';
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: rgb(51,51,51);
        margin: 0.45% auto 0;
    }
    &__line{
        display: block;
        background-color: $basicRed;
        width: 60px;
        height: 3px;
        margin: 1.8% auto 1.5%;
    }
}


.about {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &__main {
        display: flex;
        flex-direction: column;
        }

    &__text {
        font-family: 'roboto';
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        margin: 0.6% auto;
        color: $textLight;
    }

    &__gallery {
        min-height: 250px;
        margin: 4.5% auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include desktop{ 
            display: flex;  
            flex-direction: column;
            justify-content: space-between;
            width: 380px;
            padding: 5% auto;
        }
    }

    &__image {
        position: relative;
        background-color: $basicBlue;
        transition: .3s ease-out;
        cursor: pointer;

        &::after {
            position: absolute;
            top: 0;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background: linear-gradient(rgba($basicRed, .9), rgba($basicYellow, .9));
            opacity: 0;
            transition: .3s ease-out;
            

        }

        & img {
            transition: .3s ease-out;

        }

        &:hover img {
            transform: translate(-10px, -10px);

        }

        &:hover .about__span-icon {
            z-index: 1;
            opacity: 1;
        }

        &:hover .about__span-text {
            z-index: 1;
            opacity: 1;
        }

        &:hover::after {
            transform: translate(-10px, -10px);
            opacity: 1;
        }
    }

    &__span-icon {
        position: absolute;
        opacity: 0;
        color: $basicWhite;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 10%;
        width: 10%;
        inset: 50% 0 0 50%;
        transform: translate(-50%, -200%);
        transition: .3s ease-out;

        &--one {
            background-image: url('../assets/images/about/users.png');

        }
    }

    &__span-text {
        position: absolute;
        color: $basicWhite;
        font-family: 'montserrat bold';
        font-size: 18px;
        text-transform: uppercase;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .3s ease-out;
    }




    &__footer {
        width: 100%;
        display: flex;
        background-color: $basicBlue;
        margin: 1.2% auto;
        // margin: 2.5% 0;
    }

    &__stats {
        width: 20%;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $basicWhite;
        border-right: 1px solid rgb(216, 216, 216);

        &--one {
            border-left: 1px solid rgb(216, 216, 216);
        }
    }

    &__number {
        display: block;
        font-family: 'montserrat bold';
        font-size: 72px;
        margin: 28.5% auto 0;
    }

    &__what-of {
        font-family: 'montserrat';
        font-size: 14px;
        text-transform: uppercase;
        margin: 3.5% auto 0;

    }
}