.title {
    width: 100%;
    padding-top: 20px;

    &__top {
        display: block;
        font-family: 'kaushan';
        font-size: 24px;
        text-align: center;
        color: rgb(51, 51, 51);
        margin: 85px auto 0;

        @include desktop {
            margin: 4.50% auto 0;

        }
    }

    &__middle {
        display: block;
        font-family: 'montserrat bold';
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: rgb(51, 51, 51);
        margin: 8px auto 0;

        @include desktop {
            margin: 0.45% auto 0;

        }
    }

    &__line {
        display: block;
        background-color: $basicRed;
        width: 60px;
        height: 3px;
        margin: 34px auto;
        // @include desktop{
        //     margin: 1.8% auto 1.5%;

        // }
    }
}


.main {
    // display: flex;
    // flex-direction: column;
    margin: 0 auto;

    &__text {
        font-family: 'roboto';
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        margin: 5px auto 96px;
        padding: 0 5%;
        color: $textLight;

        @include desktop {
            margin: 0.6% auto 7%;

        }

        // @include tablet {
        //     margin: 2.6% auto 10%;

        // }
    }
}
// gallery
.gallery {
    margin: 0 auto;
    display: flex;
    gap: 30px;
    @include tablet {
        padding: 0 5%;
        flex-wrap: wrap;
        margin-top: 14%;
    }

    &__box {
        position: relative;
        width: 100%;
        max-width: 380px;
        margin: auto;
        transition: all .4s ease-in-out;
        
        &:hover {
            transform: translate(-10px, -10px);
            box-shadow: 10px 10px 1px $basicBlue;
        }
        
        &:hover .gallery__overlay {
            opacity: 1;
        }
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba($basicRed, .9), rgba($basicYellow, .9)) no-repeat center center;
        background-size: contain;
        opacity: 0;
        transition: .4s ease-in-out;
    }
    &__icon{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__text{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'montserrat bold';
        font-size: 18px;
        text-transform: uppercase;
        color: $basicWhite;

    }

    &__bg {
        width: 100%;
    }
}

// footer 

.footer {
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    background-color: $basicBlue;
    margin: 110px auto 0;

    @include desktop {
        margin: 3.8% auto;

    }

    @include tablet {
        margin: 10.8% auto;
    }

    @include mobile-xl {
        // flex-basis: 30%;
        flex-wrap: wrap;
        // display: flex;
        // flex-direction: column;
        // justify-content: start;
        // align-items: start;

    }


    &__stats {
        width: 40%;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $basicWhite;
        border-right: 1px solid rgb(216, 216, 216);

        &--one {
            border-left: 1px solid rgb(216, 216, 216);
        }

        @include desktop {
            justify-content: center;
            height: 100%;
        }

        @include mobile-xl {
            border: 1px solid rgb(216, 216, 216);
            width: 100%;
            flex: 1 1 50%;
        }
    }

    &__number {
        display: block;
        font-family: 'montserrat bold';
        margin: 28.5% auto 0;
        font-size: 72px;

        @include desktop {
            font-size: calc(16px + 56 * ((100vw - 360px) / (1920 - 360)));
            // margin: 18.5% auto 0;
        }

        @include tablet-m {
            margin: 8.5% auto 0;
        }

        @include mobile-xl {
            // margin: 8.5% auto 0;

        }
    }

    &__what-of {
        font-family: 'montserrat';
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        margin: 3.5% auto 0;

        @include desktop {
            padding: 0 10%;
            font-size: calc(9px + 5 * ((100vw - 360px) / (1920 - 360)));
            margin-bottom: 28.5%;
        }

        @include mobile-xl {
            margin-bottom: 8.5%;

        }

    }
}