@import '../global/media-queries';

.container {
    height: 100%;
    width: 1200px;
    @include desktop {
        width: 80%;
    }
    @include tablet{
        width: 100%;
    }
}

.header {
    background-image: linear-gradient(rgba($basicRed, .9), rgba($basicYellow, .9)), url('../assets/images/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;

    &__center {
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__creative {
        font-family: 'kaushan';
        font-size: 72px;
        position: relative;
        top: 140px;
        @include desktop{
            font-size: 58px;
        }
        @include tablet-m{
            font-size: 44px;
        }
        @include tablet{
            font-size: 44px;
        }
        @include mobile-xl{
            font-size: 26px;
        }
        }
    

    &__welcome {
        font-family: 'montserrat bold';
        font-size: 150px;
        line-height: 140px;
        text-transform: uppercase;
        position: relative;
        top: 165px;
        @include desktop {
            font-size: 120px;
        }
        @include tablet-m{
            font-size: 90px;
            line-height: 100px;
            top: 205px;
        }
        @include mobile-xl{
            font-size: 36px;
        }

    }

    &__line {
        display: block;
        background-color: #fff;
        height: 3px;
        width: 60px;
        position: relative;
        top: 220px;
        @include tablet-l{
            top: 300px;
        }

    }

    &__button {
        width: 160px;
        height: 40px;
        color: #fff;
        font-size: 14px;
        font-family: 'montserrat bold';
        font-weight: bold;
        text-transform: uppercase;
        background: none;
        border: 3px solid #fff;
        position: relative;
        top: 270px;
        @include tablet-l{
            top: 360px;
            width: 120px;
            height: 30px;
            font-size: 11px;
        }

    }

}


.nav {
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-family: 'montserrat bold';
        font-size: 30px;
        margin-top: 8px;
    }

    &__list {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        @include tablet-l {
            position: absolute;
            top: -20vh;
        }
    }

    &__item--link {
        font-family: 'montserrat';
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        transition: .4s;

        &::after {
            content: '';
            background-color: $basicYellow;
            display: block;
            width: 100%;
            height: 3px;
            position: relative;
            margin: 2px 0;
            opacity: 0;
            transition: .4s;
        }

        &:hover {
            color: $basicYellow;
            &::after {
                opacity: 1;
            }
        }
    }
    &__hamburger{
        display: none;
        font-size: 30px;
        @include tablet-l{
            display: block;
        }
        &:hover{
            cursor: pointer;
            color: $basicYellow;
        }
    }
    &__toggle{
        display: none;
        &:checked ~ .nav__list{
            transition: 1s;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 5vh;
            background-color: purple;
            width: 80%;
            @include tablet{
                width: 100%;

            }
            .nav__item{
                line-height: 30px;
            }
        }
    }

    
}
.progress {
    font-family: 'montserrat';
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: start;

    &__bar {
        background-color: #fff;
        position: relative;
        height: 3px;
        width: 280px;
        margin-top: 0;

        @include desktop {
            width: 15vw;
        }
    }

    &__info {
        height: 7vh;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__number {
        font-family: 'montserrat bold';
        font-size: 18px;
        padding-right: 10px;
    }

    &__text {
        font-family: 'montserrat';
        font-size: 13px;

    }
}