//          HEADER

.header {
    background-image: linear-gradient(rgba($basicRed, .9), rgba($basicYellow, .9)), url('../assets/images/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;

    &__center {
        height: 92.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__creative {
        font-family: 'kaushan';
        font-size: 72px;
        position: relative;
        top: 140px;

        @include desktop {
            font-size: 58px;
        }

        @include tablet-m {
            font-size: 44px;
        }

        @include tablet {
            font-size: 44px;
        }

        @include mobile-xl {
            font-size: 26px;
            font-weight: normal;
        }

        @include mobile-horizontal {
            top: 30%;
            font-size: 16px;
            font-weight: normal;
        }
    }


    &__welcome {
        font-family: 'montserrat bold';
        font-size: 150px;
        line-height: 140px;
        text-transform: uppercase;
        position: relative;
        top: 165px;

        @include desktop {
            font-size: 120px;
        }

        @include tablet-m {
            font-size: 90px;
            line-height: 100px;
            top: 205px;
        }

        @include mobile-xl {
            top: 145px;
            font-size: 56px;
            line-height: 60px;
        }

        @include mobile-horizontal {
            top: 35%;
            font-size: 30px;
            line-height: 40px;
        }
    }

    &__line {
        display: block;
        background-color: #fff;
        height: 3px;
        width: 60px;
        position: relative;
        top: 220px;

        @include tablet-l {
            top: 200px;
            width: 40px;
        }

        @include tablet-m {
            top: 250px;
        }

        @include mobile-xl {
            top: 200px;
        }

        @include mobile-horizontal {
            top: 40%;
        }

    }

    &__button {
        width: 160px;
        height: 40px;
        color: #fff;
        font-size: 14px;
        font-family: 'montserrat bold';
        font-weight: bold;
        text-transform: uppercase;
        background: none;
        border: 3px solid #fff;
        position: relative;
        top: 270px;
        cursor: pointer;

        @include tablet-l {
            top: 260px;
            width: 120px;
            height: 30px;
            font-size: 11px;
        }

        @include tablet-m {
            top: 300px;
        }

        @include mobile-xl {
            top: 260px;
        }

        @include mobile-horizontal {
            top: 50%;
        }
    }

}

//             NAV
.nav {
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $basicRed;
    position: fixed;
    left: 0;
    padding: 0 18%;
    z-index: 1;

    @include desktop {
        width: 100%;
        left: 0;
        padding: 0 10%;
    }

    @include tablet-l {
        padding: 0;
    }

    @include mobile-horizontal {
        padding: 4%;
    }

    &__logo {
        font-family: 'montserrat bold';
        font-size: 30px;
        margin-top: 8px;

        @include desktop {
            padding: 0 5%;
        }
    }

    &__list {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;

        @include tablet-l {
            background-color: $basicRed;
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 4.9vh;
            width: 80%;
            height: 80vh;
            left: -1000px;
            transition: transform .4s;
        }

        @include mobile-xl {
            top: 3vh;
        }
    }

    &__item--link {
        font-family: 'montserrat';
        font-size: 14px;
        text-decoration: none;
        color: #fff;

        &::after {
            content: '';
            background-color: $basicYellow;
            display: block;
            width: 100%;
            height: 3px;
            position: relative;
            margin: 2px 0;
            opacity: 0;
            transition: .4s;

            @include tablet-l {
                margin: 15px 0 0;

            }
        }

        &:hover {
            color: $basicYellow;

            &::after {
                opacity: 1;
            }
        }
    }

    &__hamburger {
        display: none;

        // font-size: 30px;
        &--top,
        &--middle,
        &--bottom {
            display: block;
            width: 35px;
            height: 3px;
            margin: 10px;
            background-color: #fff;
            transition: 1s;
        }

        @include desktop {
            padding: 0 5%;
        }

        @include tablet-l {
            display: block;
        }


        &:hover {
            cursor: pointer;
        }
    }

    &__toggle {
        display: none;

        &:checked~.nav__list {
            @include tablet-l {

                position: absolute;
                display: flex;
                top: 4.9vh;
                flex-direction: column;
                background-color: $basicRed;
                width: 100%;
                padding: 5%;
                transition: 1s;
                transform: translateX(1000px);

                @include mobile-xl {
                    top: 3vh;

                }

                @include mobile-horizontal {
                    padding: 0px;
                }

            }

            .nav__item {
                line-height: 20px;

                @include mobile-horizontal {
                    line-height: 15px;
                }

                &--link {
                    font-size: 18px;

                    &::after {
                        top: -15px;
                        ;
                    }
                }
            }
        }

        &:checked+label .nav__hamburger--top {
            transform: translateY(13px) rotate(45deg);
        }

        &:checked+label .nav__hamburger--middle {
            transform: translateY(0px) rotate(-45deg);
        }

        &:checked+label .nav__hamburger--bottom {
            transform: scale(0) rotate(360deg);
        }
    }


}

//          PROGRESS BAR
.progress {
    font-family: 'montserrat';
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include tablet {
        padding: 0 5%;
    }

    &__bar {
        background-color: #fff;
        position: relative;
        height: 3px;
        width: 280px;
        margin-top: 0;

        @include desktop {
            width: 15vw;
        }
    }

    &__info {
        height: 7vh;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__number {
        font-family: 'montserrat bold';
        font-size: 18px;
        padding-right: 10px;

        @include mobile-xl {
            display: none;

        }
    }

    &__text {
        font-family: 'montserrat';
        font-size: 13px;

    }
}